<div class="SnippetPreviewContainer">
  <div class="SnippetPreview">
    <div class="TitlePreview">
      <span>Nam auctor a purus vel venenatis. Quisque magna nibh, cursus ac nisl nec, porta porttitor arcu. Nam sapien magna, semper ut lectus nec</span>
    </div>
    
    <div class="UrlPreviewContainer">
      <div class="UrlPreview">
      <span>localhost/wordpress/how-to-setup-yoast-seo-to-optimize-your-wordpress-blog-blog-blog-blog-blog-blog-blog/</span>
      </div>
    </div>
    <div class="UrlDownArrow"></div>
    <div id="DescriptionPreview">
      Nam auctor a purus vel venenatis. Quisque magna nibh, cursus ac nisl nec, porta porttitor arcu. Nam sapien magna, semper ut lectus nec, fermentum rutrum ...
    </div>
  </div>
</div>

<textarea type="text" id="desc" onkeyup="description()"></textarea>

<style>
.SnippetPreviewContainer {
  width: 640px;
  max-width: 100%;
  overflow: auto;
  padding: 0px 20px;
  box-sizing: inherit;
  background-color: white;
  font-family: arial, sans-serif;

  .SnippetPreview {
    width: 600px;

    .TitlePreview {
      color: rgb(30, 15, 190);
      font-size: 18px;
      line-height: 1.2;
      font-weight: normal;
      display: inline-block;
      max-width: 600px;
      vertical-align: top;
      text-overflow: ellipsis;
      text-decoration: none;
      margin: 0px;
      overflow: hidden;

      span {
        white-space: nowrap;
      }
    }
    .UrlPreviewContainer {
      display: inline-block;
      cursor: pointer;
      position: relative;
      max-width: 90%;
      white-space: nowrap;
      font-size: 14px;
      .UrlPreview {
        display: inline-block;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        font-size: 14px;
        text-overflow: ellipsis;
        max-width: 100%;
        margin-bottom: 0px;
        padding-top: 0px;
        line-height: inherit;
        vertical-align: baseline;
        overflow: hidden;

        span {
          font-size: 14px;
          color: rgb(0, 102, 33);
        }
      }
    }
    .UrlDownArrow {
      display: inline-block;
      margin-top: 6px;
      margin-left: 6px;
      vertical-align: top;
      border-top: 5px solid rgb(0, 102, 33);
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
    #DescriptionPreview {
      color: rgb(84, 84, 84);
      cursor: pointer;
      position: relative;
      max-width: 600px;
      font-size: 13px;
    }
  }
}
</style>

<script>
function description() {
  var limit = 156;
  var val = this.document.getElementById("desc").value;
  var lastSpace;
  var descPreview = this.document.getElementById("DescriptionPreview");
  descPreview.innerHTML = val;
  
  while(descPreview.textContent.length > limit) {
    lastSpace = descPreview.textContent.lastIndexOf(" ");
    descPreview.innerHTML = descPreview.textContent.substr(0, lastSpace) + "...";
  }
}
</script>