 <!-- JSON-LD support -->
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "WebSite",
 "name": {{ shop.name | json }},
 {%- unless WMEIKLJHWZ == blank -%}
 "alternateName": "{{ WMEIKLJHWZ }}",
 {%- endunless -%}
 "url": "https://{{ shop.domain }}",
 "potentialAction": {
 "@type": "SearchAction",
 "target": "https://{{ shop.domain }}/search?q={query}",
 "query-input": "required name=query"
 }
 }
 </script>
 <script type="application/ld+json">
 {
 "@context": "http://schema.org",
 "@type": "Organization",
 "name": {{ shop.name | json }},
 "url": "https://{{ shop.domain }}"
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"logo": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 ,"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 {%- endunless -%}
 ,"contactPoint": [
 {%- unless DASZOPBREN == blank -%}
 { "@type": "ContactPoint",
 "telephone": {{ DASZOPBREN | json }},
 "contactType": "customer service"
 }
 {%- endunless -%}
 {%- unless MMLKSDVRWM == blank -%}
 ,{ "@type": "ContactPoint",
 "telephone": {{ MMLKSDVRWM | json }},
 "contactType": "technical support"
 }
 {%- endunless -%}
 {%- unless RYBJGEVDJM == blank -%}
 ,{ "@type": "ContactPoint",
 "telephone": {{ RYBJGEVDJM | json }},
 "contactType": "sales"
 }
 {%- endunless -%}
 ]
 {%- unless WCQBKSNHSY == blank -%}
 ,"sameAs" : [
 {{ WCQBKSNHSY }}
 ]
 {%- endunless -%}
 }
 </script>
 {%- unless FEGHDKFMHS == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "{{ AJHUMUKLLC }}",
 "name": {{ shop.name | json }},
 "url": "https://{{ shop.domain }}",
 "description": {{ shop.description | json }}
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 {%- endunless -%}
 {%- unless CEXKIMIVZN == blank -%}
 ,"telephone": "{{ CEXKIMIVZN }}"
 {%- endunless -%}
 {%- unless UAOZOCRIJD == blank -%}
 ,"brand": {
 "@type": "Brand",
 "name": "{{ UAOZOCRIJD }}"
 }
 {%- endunless -%}
 {%- unless BHZXWBJFJO == 'no' -%}
 ,"openingHoursSpecification": [
 {%- unless JSONLD_hours_mo_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Monday",
 "opens":  "{{ JSONLD_hours_mo_open }}",
 "closes": "{{ JSONLD_hours_mo_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_tu_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Tuesday",
 "opens":  "{{ JSONLD_hours_tu_open }}",
 "closes": "{{ JSONLD_hours_tu_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_we_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Wednesday",
 "opens":  "{{ JSONLD_hours_we_open }}",
 "closes": "{{ JSONLD_hours_we_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_th_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Thursday",
 "opens":  "{{ JSONLD_hours_th_open }}",
 "closes": "{{ JSONLD_hours_th_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_fr_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Friday",
 "opens":  "{{ JSONLD_hours_fr_open }}",
 "closes": "{{ JSONLD_hours_fr_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_sa_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Saturday",
 "opens":  "{{ JSONLD_hours_sa_open }}",
 "closes": "{{ JSONLD_hours_sa_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_su_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Sunday",
 "opens":  "{{ JSONLD_hours_su_open }}",
 "closes": "{{ JSONLD_hours_su_close }}"
 }
 {%- endunless -%}
 ]
 {%- endunless -%}
 {%- unless PIUCRQXIPH == blank -%}
 ,"hasMap": "{{ PIUCRQXIPH }}"
 {%- endunless -%}
 {%- unless RMUUCIDASA == blank -%}
 ,"priceRange": "{{ RMUUCIDASA }}"
 {%- endunless -%}
 ,"geo": {
 "@type": "GeoCoordinates",
 "latitude": "{{ JSONLD_lat | default: shop.latitude }}",
 "longitude": "{{ JSONLD_long | default: shop.longitude }}"
 }
 ,"address": {
 "@type": "PostalAddress",
 "streetAddress": "{{ ZQMACEWPLW | default: shop.address.street }}",
 "addressLocality": "{{ BFCRWPPAZX | default: shop.address.city }}",
 "addressRegion": "{{ ZNEPACPFTS | default: shop.address.province }}",
 "postalCode": "{{ BHQSXNXATU | default: shop.address.zip }}",
 "addressCountry": "{{ ADDBWWEIGK | default: shop.address.country }}"
 }
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
 {%- if HJZJMTDFKI == 'product' -%}
 {%- unless JJDVVGBBIN == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@id": {{ canonical_url | json }},
 "@type": "Product",
 {%- if product.first_available_variant.sku != blank -%}
 "sku": {{ product.first_available_variant.sku | json}},
 {%- else -%}
 "sku": {{ product.first_available_variant.id | json }},
 {%- endif -%}
 {%- if product.first_available_variant.sku != blank -%}
 "mpn": {{ product.first_available_variant.sku | json }},
 {%- else -%}
 "mpn": {{ product.first_available_variant.id | json }},
 {%- endif -%}
 "brand": {
 "@type": "Brand",
 "name": {{ product.vendor | json }}
 },
 "description": {{ product.description | strip_html | json }},
 "url": {{ canonical_url | json }},
 "name": {{ product.title | json }},
 {%- if product.featured_image -%}
 "image": "https:{{ product.featured_image | product_img_url: 'master' }}",
 {%- endif -%}
 "offers": [
 {%- for UJPBNBNFAS in product.variants -%}
 {
 "@type": "Offer",
 {%- if UJPBNBNFAS.available == true -%}
 {%- assign VCOLDJBHZY = "InStock" -%}
 {%- else -%}
 {%- assign VCOLDJBHZY = "OutOfStock" -%}
 {%- endif -%}
 "availability": "https://schema.org/{{ VCOLDJBHZY }}",
 "priceCurrency": "{{ shop.currency }}",
 "price": "{{ UJPBNBNFAS.price | money_without_currency | remove: "," }}",
 "priceValidUntil": {{ "today" | date: '%s' | plus: 31536000 | date: "%Y-%m-%d" | json }},
 "itemCondition": "https://schema.org/{{ NLTGCYKFZA }}",
 "url": {{ canonical_url | append: UJPBNBNFAS.url | json }},
 "image": "https:{{ UJPBNBNFAS.image | default: product.featured_image | img_url: 'master' }}",
 "mpn": {{ UJPBNBNFAS.sku | default: UJPBNBNFAS.id | json }},
 {%- if UJPBNBNFAS.sku != blank -%}
 "sku": {{ UJPBNBNFAS.sku | json }},
 {%- else -%}
 "sku": "{{ UJPBNBNFAS.id }}",
 {%- endif -%}
 {%- if UJPBNBNFAS.barcode.size == 12 -%}
 "gtin12": {{ UJPBNBNFAS.barcode | json }},
 {% endif %}
 {%- if UJPBNBNFAS.barcode.size == 13 -%}
 "gtin13": {{ UJPBNBNFAS.barcode | json }},
 {%- endif -%}
 {%- if UJPBNBNFAS.barcode.size == 14 -%}
 "gtin14": {{ UJPBNBNFAS.barcode | json }},
 {%- endif -%}
 "seller": {
 "@type": "Organization",
 "name": {{ shop.name | json }}
 }
 }
 {%- unless forloop.last -%},{% endunless -%}
 {%- endfor -%}]
 {%- unless JSONLD_hideReviews == "yes" -%}
 {%- case VPBOYGLCVM -%}
 {%- when 'eggviews' -%}
 {%- assign COKREAALEB = product.metafields.eggviews.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.eggviews.reviews_count -%}
 {%- when 'judgeme' -%}
 {%- when 'kudobuzz' -%}
 {%- assign COKREAALEB = product.metafields.kudobuzz.review_rating -%}
 {%- assign LHICAJTKQQ = product.metafields.kudobuzz.reviews_count -%}
 {%- when 'loox' -%}
 {%- assign COKREAALEB = product.metafields.loox.avg_rating -%}
 {%- assign LHICAJTKQQ = product.metafields.loox.num_reviews -%}
 {%- when 'okendo' -%}
 {%- assign COKREAALEB = product.metafields.okendo.RatingAndReviewAverageValue -%}
 {%- assign LHICAJTKQQ = product.metafields.okendo.RatingAndReviewCount -%}
 {%- when 'opinew' -%}
 {%- assign COKREAALEB = product.metafields.opinew.reviews_rich_snippet | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign LHICAJTKQQ = product.metafields.opinew.reviews_rich_snippet | split: 'ratingCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'orankl' -%}
 {%- assign COKREAALEB = product.metafields.orankl.rating -%}
 {%- assign LHICAJTKQQ = product.metafields.orankl.review_count -%}
 {%- when 'reviewsio' -%}
 {%- assign COKREAALEB = product.metafields.reviewscouk.rating -%}
 {%- assign LHICAJTKQQ = product.metafields.reviewscouk.total -%}
 {%- when 'rivio' -%}
 {%- assign COKREAALEB = product.metafields.reevio.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.reevio.reviews_count -%}
 {%- when 'ryviu' -%}
 {%- assign COKREAALEB = product.metafields.ryviu.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign LHICAJTKQQ = product.metafields.ryviu.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'shopifyreviews' -%}
 {%- assign COKREAALEB = product.metafields.spr.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign LHICAJTKQQ = product.metafields.spr.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'socialshopwave' -%}
 {%- assign COKREAALEB = product.metafields.ssw.avg_rate -%}
 {%- assign LHICAJTKQQ = product.metafields.ssw.count_rate -%}
 {%- when 'stampedio' -%}
 {%- assign COKREAALEB = product.metafields.stamped.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.stamped.reviews_count -%}
 {%- when 'superreviews' -%}
 {%- assign COKREAALEB = product.metafields.reviewapp.reviews | split: '"average" itemprop="ratingValue">' | last | split: '</span>' |first | plus: 0 -%}
 {%- assign LHICAJTKQQ = product.metafields.reviewapp.reviews | split: '"votes" itemprop="ratingCount">' | last | split: "</span>" | first | plus: 0 -%}
 {%- when 'trust' -%}
 {%- assign COKREAALEB = product.metafields.vnreviews.ratingValue -%}
 {%- assign LHICAJTKQQ = product.metafields.vnreviews.reviewCount -%}
 {%- when 'yotpo' -%}
 {%- assign COKREAALEB = product.metafields.yotpo.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.yotpo.reviews_count -%}
 {%- when 'yotpo_free' -%}
 {%- else -%}
 {%- if product.metafields.kudobuzz.review_rating and product.metafields.kudobuzz.reviews_count != "0" -%}
 {%- assign COKREAALEB = product.metafields.kudobuzz.review_rating -%}
 {%- assign LHICAJTKQQ = product.metafields.kudobuzz.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.loox.num_reviews and product.metafields.loox.num_reviews != "0" -%}
 {%- assign COKREAALEB = product.metafields.loox.avg_rating -%}
 {%- assign LHICAJTKQQ = product.metafields.loox.num_reviews -%}
 {%- endif -%}
 {%- if product.metafields.okendo.RatingAndReviewAverageValue and product.metafields.okendo.RatingAndReviewAverageValue != "0" -%}
 {%- assign COKREAALEB = product.metafields.okendo.RatingAndReviewAverageValue -%}
 {%- assign LHICAJTKQQ = product.metafields.okendo.RatingAndReviewCount -%}
 {%- endif -%}
 {%- when 'orankl' -%}
 {%- assign COKREAALEB = product.metafields.orankl.rating -%}
 {%- assign LHICAJTKQQ = product.metafields.orankl.review_count -%}
 {%- if product.metafields.reviewscouk.rating and product.metafields.reviewscouk.rating != "0" -%}
 {%- assign COKREAALEB = product.metafields.reviewscouk.rating -%}
 {%- assign LHICAJTKQQ = product.metafields.reviewscouk.total -%}
 {%- endif -%}
 {%- if product.metafields.reevio.reviews_average and product.metafields.reevio.reviews_count != "0" -%}
 {%- assign COKREAALEB = product.metafields.reevio.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.reevio.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.ssw.count_rate and product.metafields.ssw.count_rate != "0" -%}
 {%- assign COKREAALEB = product.metafields.ssw.avg_rate -%}
 {%- assign LHICAJTKQQ = product.metafields.ssw.count_rate -%}
 {%- endif -%}
 {%- if product.metafields.stamped.reviews_average and product.metafields.stamped.reviews_count != "0" -%}
 {%- assign COKREAALEB = product.metafields.stamped.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.stamped.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.vnreviews.ratingValue and product.metafields.vnreviews.reviewCount != "0" -%}
 {%- assign COKREAALEB = product.metafields.vnreviews.ratingValue -%}
 {%- assign LHICAJTKQQ = product.metafields.vnreviews.reviewCount -%}
 {% endif %}
 {%- if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" -%}
 {%- assign COKREAALEB = product.metafields.yotpo.reviews_average -%}
 {%- assign LHICAJTKQQ = product.metafields.yotpo.reviews_count -%}
 {% endif %}
 {%- endcase -%}
     {%- if COKREAALEB != nil and LHICAJTKQQ != nil -%}
 ,"aggregateRating": {
 "@type": "AggregateRating",
 "ratingValue": {{ COKREAALEB }},
 "ratingCount": {{ LHICAJTKQQ }}
 }
 {%- endif -%}
 {%- endunless -%}
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
 {%- if HJZJMTDFKI == 'article' -%}
 {%- unless QWCFUDZFHF == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "Article",
 "url": {{ canonical_url | json }},
 "mainEntityOfPage": {{ canonical_url | json }},
 "name": {{ article.title | json }},
 "headline": {{ article.title | json }},
 "author": {
 "@type": "Person",
 "name": {{ article.author | json }}
 },
 "publisher": {
 "@type": "Organization",
 "name": {{ shop.name | json }}
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"logo":
 {
 "@type": "ImageObject",
 "url": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 }
 {%- endunless -%}
 },
 "image": {
 "@type": "ImageObject",
 {%- if article.image -%}
 "url": "https:{{ article | img_url: '1024x1024' }}",
{%- else -%} {%- assign VZEQMDHQLZ = article.content | escape -%} {%- if VZEQMDHQLZ contains '&lt;img' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ | split: 'src=&quot;' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ[1] | split: '&quot;' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ[0] | remove: '//cdn' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ | remove: 'http:http://' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ | remove: 'https:' -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ | prepend: 'https://cdn' -%} {%- capture PDYMDREIWK -%}_1024x1024.{%- endcapture -%} {%- assign XZQUGMRFUG = 'pico icon thumb small compact medium large grande 1024x1024 2048x2048' | split:' ' -%} {%- for MYJNZMYMWH in XZQUGMRFUG -%} {%- capture IMAGTKWHJS -%}_{{ MYJNZMYMWH }}.{%- endcapture -%} {%- assign VZEQMDHQLZ = VZEQMDHQLZ | replace:search,replacement -%} {%- endfor -%}
 "url": "{{ VZEQMDHQLZ }}",
 {%- else -%}
 "url": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif",
 {%- endif -%}
 {%- endif -%}
 "height": "1024",
 "width": "1024"
 },
 "datePublished": "{{ article.created_at }}",
 "dateModified": "{{ article.published_at }}",
 "description": {{ article.excerpt_or_content | strip_html | json }},
 "articleBody": {{ article.content | strip_html | json }}
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
{%- endunless -%}