<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"@id": "https:\/\/domain.com\/#org",
"name": {{ shop.name | json }},
"url": "https://{{ shop.domain }}",
"logo": "image_url",
"image": "image_url"
}
</script>

<script type="application/ld+json">
{
  "@context":"https:\/\/schema.org",
  "@type":"Store",
  "name":"Wordpress Local",
  "url":"http:\/\/localhost\/wordpress",

  /** Social profile will be get from Social page **/
  "sameAs":[
    "https:\/\/www.facebook.com\/MyThemeShop\/","https:\/\/twitter.com\/MyThemeShopTeam\/","https:\/\/mythemeshop.tumblr.com","https:\/\/myspace.com\/katyperry"
  ],
  "email":"mrtienhp97@gmail.com",
  "address":{
    "@type":"PostalAddress",
    "streetAddress":"Street Address",
    "addressLocality":"Locality",
    "addressRegion":"Region",
    "postalCode":"100000",
    "addressCountry":"Country"
  },

  /** If store open in same time **/
  "openingHours":[
    "Tuesday,Wednesday,Thursday 09:00-17:00"
  ],

  /** If store open in different time **/
  "openingHours":[
    "Monday 09:00-17:00",
    "Tuesday 08:00-17:00",
    "Wednesday 07:00-17:00",
    "Thursday 06:00-17:00",
    "Friday 05:00-17:00",
    "Saturday 04:00-17:00",
    "Sunday 03:00-17:00"
  ],

  "priceRange":"$10 - $100",
  "image":"image_url",
  "telephone":"1234456456",
  "hasMap": "https://www.google.ca/maps/place/Fox+%26+Fancy/@28.0307668,174.7479788,3z/data=!3m1!4b1!4m5!3m4!1s0x548673e8d4500753:0xe941d7c00b70bca8!8m2!3d53.2843251!4d-120.1896504",
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "",
    "longitude": ""
  }
}
</script>