<link rel="canonical" href="http://localhost/wordpress/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home page - Wordpress Local" />
<meta property="og:url" content="http://localhost/wordpress/" />
<meta property="og:site_name" content="Wordpress Local" />
<meta property="og:image" content="http://localhost/wordpress/wp-content/uploads/2019/07/adolescent-bag-beautiful-919436-1024x734.jpg" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="734" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Home page - Wordpress Local" />
<meta name="twitter:site" content="@NguynQuangTin1" />
<meta name="twitter:image" content="http://localhost/wordpress/wp-content/uploads/2019/07/adolescent-bag-beautiful-919436-1024x734.jpg" />
<meta name="twitter:creator" content="@NguynQuangTin1" />